body{
    background-image: url(https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-0/p280x280/127081308_2768386440067783_7254109228266081832_o.jpg?_nc_cat=102&ccb=2&_nc_sid=110474&efg=eyJpIjoiYiJ9&_nc_eui2=AeGCaYqV5AK2YiXKBjHABa0G-FbeO0vja6b4Vt47S-NrpnRcIHtUW3BWkXAuX0oemIIsAHgKATUzAjj1-jcmAvhy&_nc_ohc=k8JpkbyJ-NEAX-PcW0_&_nc_ht=scontent-amt2-1.xx&tp=6&oh=10f76f2abb95c40bf9139893debe5822&oe=5FDE14C9);
  }
  /* HEADING OBJECTS STYLING STARTS HERE */
  #headingImage{
    width: 0px;
    position: relative;
    z-index: 2; 
  }
  #headbg{
    position: relative;
    width: 0px;
    height: 0px;
    top: 0px;
    z-index: 0;
  }
  .backgroundMovers{
    width: 0px;
    height: 0px;
    position: relative;
    z-index: 1;
  }
  #headContainer{
    position: fixed;
  }
  /* HEADING OBJECTS STYLING STOPS HERE */

   /* DATE STYLING STARTS HERE */
   .dateBox{
    position: fixed;
  }
  /* DATE STYLING ENDS HERE */

  /* INPUT AREA STYLES START HERE */
  #upFlipContainer{
    z-index: 6;
  }
  #downFlipContainer{
    z-index: 6;
  }
  .trapezoids{
    height: 20px;
    width: 180px;
    position: absolute;
    z-index: 3;
  }
  .inverted{
    transform: scaleY(-1);
  }
  #logInContainer{
    position: absolute;
    transform: scaleX(-1);
    z-index: 3;
  }
  #registerContainer{
    position: absolute;
    z-index: 3;
  }
  .inputs{
    position: absolute;
    z-index: 6;
    opacity: 0.6;
    color: white;
    font-style: unset;
  }
  .texts{
    position: relative;
    font-size: 30px;
    width: 50px;
    height: 10px;
    z-index: 7;
  }
  /* INPUT AREA STYLES END HERE */

  /* GEARS STYLE STARTS HERE */
      .gears{
    position: absolute;
    transform: rotate(10deg);
    overflow: hidden;
  }
  /* GEARS STYLE ENDS HERE */
